.App {
  width: 100vw;
  height: 100vh;
  background-color: azure;
  overflow-x: hidden;

}

.App::-webkit-scrollbar{
  display: none;
}
/* Header Styles Starts */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  height: 60px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1) ;
}
.logo{
  min-width: 40px; 
  width: 40px;
}
.lalabaName h3 {
  font-size: 40px;
  font-style: initial;

  color:rgb(3, 177, 252); 
}
.profileContainer .userName {
  font-size: 16px;
  margin-right: 8px;
  font-weight: 500;
  display: none;
}

.profileContainer{
  display: flex;
  align-items: center;
}

.profileContainer .imageBox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100vw;
  background: #d5d5d5;
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}
.profileContainer .imageBox .profilePic {
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: cover;
}

.toggleMenu {
  transform: rotate(90deg);
}

.toggleMenu .toggleIcon {
  color: #373848;
  font-size: 30px;
}
/* Header Styles Ends */


/* Bottom Menu Styles */

.bottomMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #d5d5d5;
  border-radius: 25px 25px 0;
  z-index: 101;
}

.bottomMenu ul{
  display: flex;

}

.bottomMenu ul li {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1;

}

.bottomMenu ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

.bottomMenu ul li a .icon {
  position: relative;
  display: block;
  line-height: 70px;
  text-align: center;
  transition: 0.5s;
}
/*color and size of the bottom icons*/
.bottomMenu ul li a .icon .MuiSvgIcon-root {
  font-size: 26px;
  color: #373848;
}

.bottomMenu ul li.active a .icon{
  transform: translateY(-26px);
}
/*color of buttom icons when clicked*/
.bottomMenu ul li.active a .icon .MuiSvgIcon-root{
  color: white;
  transition: 0.5s;
}
/*color bg of icon when clicked*/
.indicator {
  position: absolute;
  height: 60px;
  width: 60px;
  background:rgb(3, 177, 252);
  border-radius: 100vw;
  top: -50%;
  border: 6px solid azure;
  transition: 0.5s;
}

.indicator::before {
  content: '';
  position:absolute;
  top: 50%;
  left: -20px;
  width: 18px;
  height: 18px;
  background:transparent;
  border-top-right-radius: 18px;
  box-shadow: 0px -10px 0 0 azure;
}

.indicator::after {
  content: '';
  position:absolute;
  top: 50%;
  right: -20px;
  width: 18px;
  height: 18px;
  background:transparent;
  border-top-left-radius: 18px;
  box-shadow: 0px -10px 0 0 azure;
}
.bottomMenu ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(60px * 0));
}
.bottomMenu ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(60px * 1));
}
.bottomMenu ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(60px *2))
}
.bottomMenu ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(60px * 3));
}
.bottomMenu ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(60px * 4));
}
.bottomMenu ul li:nth-child(6).active ~ .indicator{
  transform: translateX(calc(60px *5))
}
/*Main Section Styles */
main{
  width: 100%;
  height: auto;
  margin-top: 60px;
}
.mainContainer {
  width: 100%;
  height: auto;
  background:azure;
  padding: 10px;
  padding-bottom: 100px;

}

.banner {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  background-color: rgb(190, 216, 216);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
/*discount pic*/
.deliverPic {
  position: absolute;
  right: -60px;
  bottom: -10px;
  width: 240px;
}

.bannerContent {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
/*for the discount phrase*/
.bannerContent h3 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.bannerContent p {
  font-size: 14px;
  width: 200px;
  color: black;
  margin: 5px 0;
}
/*for the color of ammount of discount*/
.bannerContent p span {
 color: black; 
 font-weight: 700;
}

.bannerContent a {
  background: rgb(3, 177, 252);
  color: white;
  padding: 5px 15px;
  border-radius: 100vw;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.bannerContent a:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}


/* dish container*/

.dishContainer{
  width: 100%;
  padding: 10px 0px;
}

.menuCard {
  width: 100%;
}

.subMenuContainer,
.viewAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subMenuContainer h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #2a2b3c;
}

.subMenuContainer .viewAll p {
  font-size: 12px;
  color: blue;
  font-weight: 600;

}

.subMenuContainer .viewAll i {
  background: rgb(3, 177, 252);
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

}

.subMenuContainer .viewAll i .MuiSvgIcon-root {
  font-size: 16px;
  color: white;
}


.rowContainer {
  display: flex;
  align-items: center;
  /* to activate scroll */
  overflow-x: scroll; 
  overflow-y: hidden;
  margin: 10px 0;
  padding: 10px 0;
  justify-content: center;
}

.rowContainer ::-webkit-scrollbar {
  display: none;
}

.rowMenuCard {
  width: 160px;
  min-width: 160px;
  height: 200px;
  border-radius: 12px;
  background: white;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  cursor: pointer;
}

.rowMenuCard:hover,
.rowMenuCard.active {
  background: rgb(3, 177, 252);
}

.rowMenuCard .imgBox {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 100vw;
  background: #d5d5d5;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}

.rowMenuCard:hover .imgBox,
.rowMenuCard.active .imgBox {
  background: white;
}

.rowMenuCard .imgBox img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.rowMenuCard:hover .imgBox img,
.rowMenuCard.active .imgBox img {
  width: 80%;
  height: 80%;
  transition: 0.5s;
}

.rowMenuCard h3{
  color: rgb(3, 177, 252);
  font-size: 15px;
  font-weight: 500;
  padding: 0px 2px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.rowMenuCard:hover h3,
.rowMenuCard.active h3 {
  color: #ffffff;
}

.rowMenuCard .loadMenu {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: white;
  transition: 0.5s;
}

.rowMenuCard:hover .loadMenu,
.rowMenuCard.active .loadMenu {
  background:  rgb(3, 177, 252);
}
*/
.rowMenuCard .loadMenu .MuiSvgIcon-root {
  font-size: 14px;
  color: white;
}

.rowMenuCard:hover .loadMenu .MuiSvgIcon-root,
.rowMenuCard.active .loadMenu .MuiSvgIcon-root {
  color:  rgb(3, 177, 252);
  
} 
.rowMenuCard .loadMenu .MuiSvgIcon-root {
  color: white;
}

/* Dito na yung sa Shop description or ItemCard */

.dishItemContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.itemCard {
  width: 400px;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
.itemContent {
  width: 100%;
  height: 100%;
  background: azure;
  padding: 10px;
 /*padding-top: 50px; */
}
.itemContent .imgBox {
  position: center;
  top: 10px;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.itemContent .imgBox img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: absolute;
  top: 0;
}*/

.itemContent .itemName {
  font-size: 16px;
}

.itemContent .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemContent .bottom .price {
  font-size: 16px;
}

.itemContent .bottom .price span {
  color: #f8901c;
  font-size: 12px;
}

.itemContent .addToCart {
  background: #f8901c;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.itemContent .addToCart .MuiSvgIcon-root {
  color: #faf9fb;
  font-size: 16px;
}






